.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 30px;
  background-color: $background-color;
  z-index: 10;
  transform: translateY(0);
  transition: transform 0.3s ease;
  opacity: 0.9;

  @include onTablet {
    padding-inline: 80px;
  }
}

.header__content {
  margin: 0 auto;
  max-width: 1240px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.header--hidden {
  transform: translateY(-100%);
}

.header__nav-bar {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 20px;

  @include onDesktop {
    gap: 60px;
  }
}

.heder__nav-link {
  color: $text-primary;

  &:hover {
    color: $text-accent;
  }
}

.heder__nav-link--active {
  position: relative;
  padding-bottom: 22px;
  color: $text-accent;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: $color-accent;
    box-shadow: 0 -3px 14px 5px rgba(100, 255, 218, 0.25);
  }
}