@import './styles/main';
@import './styles/utilities/_mixins';

.mobile__content {
  background-color: $background-color;

  @include onTablet {
    display: none;
  }
}

.desktop__content {
  display: none;

  @include onTablet {
    display: block;
    background-color: $background-color;
  }
}
