@import './styles/main';
@import './styles/utilities/_mixins';

.mobile__content {
  //background: linear-gradient(130deg, #191536 0%, #000000 100%);

  @include onTablet {
    display: none;
  }
}

.desktop__content {
  display: none;

  @include onTablet {
    display: block;
    background-color: $background-color;
    //background: linear-gradient(130deg, #191536 0%, #000000 100%);
  }
}
